* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

li {
    list-style: none;
}
body {
    width: 100vw;
    background: #d9d8dd;
}
#video {
    position: absolute;
    left: 30px;
    top: 30px;
    width: 120px;
    height: 100px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 2px 2px #6e6a67, 0 0 2px 10px #333031, 0 0 3px 15px #757571, 0 0 2px 20px #302624;
    box-shadow: 0 0 2px 2px #6e6a67, 0 0 2px 10px #333031, 0 0 3px 15px #757571, 0 0 2px 20px #302624;
    -moz-box-shadow: 0 0 2px 2px #6e6a67, 0 0 2px 15px #333031, 0 0 3px 20px #757571, 0 0 2px 25px #302624;
    video {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: fill;
        background-size: cover;
    }
}
.camera {
    position: absolute;
    top: 100px;
    left: 350px;
    .top {
        position: relative;
        width: 375px;
        height: 200px;
        background: #dce1e9;
        border-radius: 30px 30px 10px 0;
        -webkit-box-shadow: -6px 0 2px inset #b8b1b8,0 -10px 6px inset #cdd2de, 0 7px 1px inset #d8dae1, 25px 1px 0 #b0a5ae;
        box-shadow: -6px 0 2px inset #b8b1b8, 0 -10px 6px inset #cdd2de, 0 7px 1px inset #d8dae1, 25px 1px 0 #b0a5ae;
        -moz-box-shadow: -6px 0 2px inset #b8b1b8, 0 -10px 6px inset #cdd2de, 0 7px 1px inset #d8dae1, 25px 1px 0 #b0a5ae;
        &:before,
        &:after {
            content: "";
            display: inline-block;
            position: absolute;
        }
        &:before {
            width: 18px;
            height: 20px;
            background: linear-gradient(90deg, rgba(217, 221, 231, 1) 0%, rgba(176, 165, 174, 1) 100%);
            left: 265px;
            top: 224.7px;
            z-index: 2;
            border-radius: 10% 10% 5px 10px;
            transform: rotate(-5deg);
            filter: drop-shadow(0 0 1px rgba(198, 196, 205, 0.5), blur(2px));
        }
        &:after {
            background: #b0a5ae;
            width: 125.5px;
            height: 29px;
            top: 205px;
            left: 274px;
            border-radius: 0 0 30px 0;
            transform: skewY(-10.7deg);
            z-index: -1;
        }
        .flash {
            width: 60px;
            height: 100px;
            border: 2px solid #5b6072;
            position: relative;
            top: 20px;
            left: 20px;
            background: rgb(255, 255, 255);
            background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(192, 193, 198, 1) 100%);
            border-radius: 10px;
            -webkit-box-shadow: 0 3px 2px inset #bdcbdd, 6px 0 2px inset #585a5f, 2px 0 3px #767b83;
            box-shadow: 0 3px 2px inset #bdcbdd, 6px 0 2px inset #585a5f, 2px 0 3px #767b83;
            -moz-box-shadow: 0 3px 2px inset #bdcbdd, 6px 0 2px inset #585a5f, 2px 0 3px #767b83;
            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 58px;
                left: -2px;
                width: 20px;
                height: 40px;
                border-radius: 0 0 0 10px;
                -webkit-box-shadow: -3px 3px 1px #bab9bf, -5px 5px 4px #edeff6;
                box-shadow: -3px 3px 1px #bab9bf, -5px 5px 4px #edeff6;
                -moz-box-shadow: -3px 3px 1px #bab9bf, -5px 5px 4px #edeff6;
            }
            .inside-flash {
                width: 20px;
                height: 92px;
                position: relative;
                top: 2px;
                left: 20px;
                border: 1px solid #e1e4e8;
                border-radius: 1px;
                -webkit-box-shadow: -10px -10px 10px inset #d6d8db;
                box-shadow: -10px -10px 10px inset #d6d8db;
                -moz-box-shadow: -10px -10px 10px inset #d6d8db;
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 6.5px;
                    background: rgb(255, 255, 255);
                    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(192, 193, 198, 1) 100%);
                }
                &:before {
                    height: 90px;
                    left: 2px;
                    border-radius: 1px;
                }
                &:after {
                    left: 11px;
                    height: 86px;
                    border-bottom: 2px solid #646d79;
                    border-top: 2px solid #646d79;
                }

            }
            .flash-lines {
                position: relative;
                top: 10px;
                left: 6px;
                width: 15px;
                height: 1px;
                border-top: 1px solid #b9b4ae;
                -webkit-box-shadow: 0 3px 0 #b9b4ae, 0 6px 0 #b9b4ae, 0 9px 0 #b9b4ae, 0 20 0 #b9b4ae, 0 23px 0 #b9b4ae,
                    0 26px 0 #b9b4ae, 33px 0 0 #b9b4ae, 33px 3px 0 #b9b4ae, 33px 6px 0 #b9b4ae, 33px 9px 0 #b9b4ae,
                    33px 20 0 #b9b4ae, 33px 23px 0 #b9b4ae, 33px 26px 0 #b9b4ae;
                box-shadow: 0 3px 0 #b9b4ae, 0 6px 0 #b9b4ae, 0 9px 0 #b9b4ae, 0 20 0 #b9b4ae, 0 23px 0 #b9b4ae,
                    0 26px 0 #b9b4ae, 33px 0 0 #b9b4ae, 33px 3px 0 #b9b4ae, 33px 6px 0 #b9b4ae, 33px 9px 0 #b9b4ae,
                    33px 20 0 #b9b4ae, 33px 23px 0 #b9b4ae, 33px 26px 0 #b9b4ae;
                -moz-box-shadow: 0 3px 0 #b9b4ae, 0 6px 0 #b9b4ae, 0 9px 0 #b9b4ae, 0 20 0 #b9b4ae, 0 23px 0 #b9b4ae,
                    0 26px 0 #b9b4ae, 33px 0 0 #b9b4ae, 33px 3px 0 #b9b4ae, 33px 6px 0 #b9b4ae, 33px 9px 0 #b9b4ae,
                    33px 20 0 #b9b4ae, 33px 23px 0 #b9b4ae, 33px 26px 0 #b9b4ae;
            }
            .light {
                position: relative;
                top: -40px;
                left: 30px;
                transform: translate(-50%, -50%);
                background: radial-gradient(ellips at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                border-radius: 100%;
                animation: 1s flash-light;
            }
        }
        .on-off-button {
            width: 20px;
            height: 20px;
            border: 1px solid #b5b5bf;
            border-radius: 50%;
            position: relative;
            top: -70px;
            left: 95px;
            -webkit-box-shadow: 1px 0 1px #b5b5bf, 2px 0 2px 1px #777580;
            box-shadow: 1px 0 1px 0 #b5b5bf, 2px 0 2px 1px #777580;
            -moz-box-shadow: 1px 0 1px #b5b5bf, 2px 0 2px 1px #777580;
            &:before,
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
            }
            &:before {
                width: 13px;
                height: 13px;
                border-radius: 50%;
                border-width: 1.5px 1.5px 1.5px 1.5px;
                border-style: solid;
                border-color: #adb2c0 #adb2c0 #adb2c0 transparent;
                top: 1px;
                left: 1px;
                transform: rotate(45deg);
            }
            &:after {
                height: 8px;
                border-left: 1.5px solid #adb2c0;
                transform: rotate(-45deg);
                left: 7px;
                top: 3px;
            }
        }
        .lens-div {
            position: relative;
            z-index: 1;
            .lens {
                width: 140px;
                height: 140px;
                background: #464b54;
                border-radius: 50%;
                position: relative;
                top: -100px;
                left: 120px;
                -webkit-box-shadow: 2px 0 1px inset #595a67, -10px 0 5px inset rgba(94, 112, 132, 0.7),
                    10px 0 10px inset #282b2d, 3px 0 2px 3px #18181a, 18px 0 2px 3px #38363c, 25px 0 10px 5px #a0959d,
                    33px 0 15px 3px #bcafb2;
                box-shadow: 2px 0 1px inset #595a67, -10px 0 5px inset rgba(94, 112, 132, 0.7),
                    10px 0 10px inset #282b2d, 3px 0 2px 3px #18181a, 18px 0 2px 3px #38363c, 25px 0 10px 5px #a0959d,
                    33px 0 15px 3px #bcafb2;
                -moz-box-shadow: 2px 0px 1px inset #595a67, -10px 0 5px inset rgba(94, 112, 132, 0.7),
                    10px 0px 10px inset #282b2d, 3px 0px 2px 3px #18181a, 18px 0 2px 3px #38363c,
                    25px 0 10px 5px #a0959d, 33px 0 15px 3px #bcafb2;
                    &:before {
                        content: "";
                        display: inline-block;
                        background: #9ca7ae;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        top: 40px;
                        left: -5px;
                        z-index: -1;
                        -webkit-box-shadow: 0px 2px 2px inset #d8e1f1, -0.5px 0px 1px 2px #7d808e;
                        box-shadow: 0px 2px 2px inset #d8e1f1, -0.5px 0px 1px 2px #7d808e;
                        -moz-box-shadow: 0px 2px 2px inset #d8e1f1, -0.5px 0px 1px 2px #7d808e;
                    }
            }
            .inside-lens {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position: relative;
                top: -190px;
                left: 185px;
                background: #007968;
                -webkit-box-shadow: -2px 0 1px 3px #595e68, 5px 0 5px -2px inset #34b1b1, 6px 0 1px 1px inset #062c26,
                    12px 0 4px 4px inset #00534a, 15px 0 9px 9px inset #0f1815, -2px 0 1px 1px inset #20483a,
                    -5px -1px 2px 5px #252525, -6px -1px 3px 8px #656a75, -10px 0px 3px 11px #000000,
                    -10px 0 2px 15px #606676, -11px 0 3px 18px #050505, -12px -1px 2px 21px #606676,
                    -13px 0 3px 23px #050505, -14px -1px 3px 25px #212227, -15px 0 3px 27px #585e6d,
                    -17px -1px 2px 30px #171c1d, -16px -1px 2px 36px #6e7083, -15px -1px 2px 39px #141215;
                box-shadow: -2px 0 1px 3px #595e68, 5px 0 5px -2px inset #34b1b1, 6px 0 1px 1px inset #062c26,
                    12px 0 4px 4px inset #00534a, 15px 0 9px 9px inset #0f1815, -2px 0 1px 1px inset #20483a,
                    -5px -1px 2px 5px #252525, -6px -1px 3px 8px #656a75, -10px 0px 3px 11px #000000,
                    -10px 0 2px 15px #606676, -11px 0 3px 18px #050505, -12px -1px 2px 21px #606676,
                    -13px 0 3px 23px #050505, -14px -1px 3px 25px #212227, -15px 0 3px 27px #585e6d,
                    -17px -1px 2px 30px #171c1d, -16px -1px 2px 36px #6e7083, -15px -1px 2px 39px #141215;
                -moz-box-shadow: -2px 0 1px 3px #595e68, 5px 0 5px -2px inset #34b1b1, 6px 0 1px 1px inset #062c26,
                    12px 0 4px 4px inset #00534a, 15px 0 9px 9px inset #0f1815, -2px 0 1px 1px inset #20483a,
                    -5px -1px 2px 5px #252525, -6px -1px 3px 8px #656a75, -10px 0px 3px 11px #000000,
                    -10px 0 2px 15px #606676, -11px 0 3px 18px #050505, -12px -1px 2px 21px #606676,
                    -13px 0 3px 23px #050505, -14px -1px 3px 25px #212227, -15px 0 3px 27px #585e6d,
                    -17px -1px 2px 30px #171c1d, -16px -1px 2px 36px #6e7083, -15px -1px 2px 39px #141215;
                &:before,
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    left: 8px;
                    width: 15px;
                    height: 19px;
                    border-width: 7px 0px 7px 10px;
                    border-color: transparent transparent transparent rgba(47, 175, 175, 0.3);
                    border-style: solid;
                    border-radius: 50% 0 0 50%;
                }
                &:after {
                    width: 5px;
                    height: 10px;
                    border-width: 5px 0 5px 5px;
                    top: 11px;
                    left: 20px;
                }
            }
        }
        .circle {
            width: 15px;
            height: 15px;
            background: #3b3a40;
            border-radius: 50%;
            position: relative;
            top: -160px;
            left: 270px;
            z-index: 1;
            -webkit-box-shadow: 10px 0 2px 0 inset rgb(0, 0, 0), 0 0 1.5px 3px #57595e, 0.5px 0 1px 4px #010001,
                6px 0 1px 5px #252327, 9px 2px 5px 6px #8b868c;
            box-shadow: 10px 0 2px 0 inset rgb(0, 0, 0), 0 0 1.5px 3px #57595e, 0.5px 0 1px 4px #010001,
                6px 0 1px 5px #252327, 9px 2px 5px 6px #8b868c;
            -moz-box-shadow: 10px 0 2px 0 inset rgb(0, 0, 0), 0 0 1.5px 3px #57595e, 0.5px 0 1px 4px #010001,
                6px 0 1px 5px #252327, 9px 2px 5px 6px #8b868c;
        }
        .view-finder {
            width: 60px;
            height: 60px;
            position: relative;
            top: -298px;
            left: 300px;
            background: rgba(218, 217, 222, 0.5);
            border-radius: 10px;
            -webkit-box-shadow: 0 0 2px 2px inset #9f9ca5, 3px 0 3px 1px inset rgba(153, 155, 204, 0.8),
                6px 0 1px 1px inset #c5cbee, 13px 0 5px 5px inset rgba(153, 154, 217, 0.8),
                14px 0px 01px 5px inset #ced4f0, 17px 0 10px 5px inset rgba(153, 154, 217, 0.8),
                19px 0px 1px 10px inset #ced4f0, 23px 0 6px 13px inset rgba(184, 189, 231, 0.8), 0 0 2px 1px #3d3a43,
                -3px 0 3px 0 #807983;
            box-shadow: 0 0 2px 2px inset #9f9ca5, 3px 0 3px 1px inset rgba(153, 155, 204, 0.8),
                6px 0 1px 1px inset #c5cbee, 13px 0 5px 5px inset rgba(153, 154, 217, 0.8),
                14px 0px 01px 5px inset #ced4f0, 17px 0 10px 5px inset rgba(153, 154, 217, 0.8),
                19px 0px 1px 10px inset #ced4f0, 23px 0 6px 13px inset rgba(184, 189, 231, 0.8), 0 0 2px 1px #3d3a43,
                -3px 0 3px 0 #807983;
            -moz-box-shadow: 0 0 2px 2px inset #9f9ca5, 3px 0 3px 1px inset rgba(153, 155, 204, 0.8),
                6px 0 1px 1px inset #c5cbee, 13px 0 5px 5px inset rgba(153, 154, 217, 0.8),
                14px 0px 01px 5px inset #ced4f0, 17px 0 10px 5px inset rgba(153, 154, 217, 0.8),
                19px 0px 1px 10px inset #ced4f0, 23px 0 6px 13px inset rgba(184, 189, 231, 0.8), 0 0 2px 1px #3d3a43,
                -3px 0 3px 0 #807983;
            .reflection {
                    width: 23px;
                    height: 50px;
                    border-style: solid;
                    border-width: 7px 0px 7px 10px;
                    border-color: transparent transparent transparent rgba(241, 243, 252, 0.6);
                    position: relative;
                    left: 12px;
                    top: 5px;
                    &:before,
                    &:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        border-color: transparent transparent transparent rgba(241, 243, 252, 0.6);
                        border-style: solid;
                    }
                    &:before {
                        width: 15px;
                        height: 20px;
                        border-width: 7px 0px 7px 10px;
                        left: 5px;
                        top: 0px;
                    }
                    &:after {
                        width: 5px;
                        height: 10px;
                        border-width: 5px 0 5px 5px;
                        top: 5px;
                        left: 18px;
                    }
            }
            .glass {
                    width: 60px;
                    height: 60px;
                    background: linear-gradient(
                        90deg,
                        rgba(164, 166, 231, 0.6) 0%,
                        rgba(137, 136, 196, 0.6) 17%,
                        rgba(112, 113, 167, 0.6) 44%,
                        rgba(179, 167, 198, 0.6) 67%,
                        rgba(161, 149, 176, 0.3) 80%,
                        rgba(82, 73, 83, 0.3) 100%
                    );
                    position: relative;
                    top: -50px;
                    border-radius: 10px;
            }
        }
        .minus-plus-button {
            width: 40px;
            height: 20px;
            position: relative;
            background: #c49e6f;
            top: -285px;
            left: 307px;
            border-radius: 10px;
            -webkit-box-shadow: 4px 0 4px inset #999199, 6px 0 0px 1px inset #624122, 10px 0 4px 0px inset #6e4c03;
            box-shadow: 4px 0 4px inset #999199, 6px 0 0px 1px inset #624122, 10px 0 4px 0px inset #6e4c03;
            -moz-box-shadow: 4px 0 4px inset #999199, 6px 0 0px 1px inset #624122, 10px 0 4px 0px inset #6e4c03;
            &:before {
                content: "";
                display: inline-block;
                width: 9px;
                height: 15px;
                background: rgba(246, 216, 183, 0.7);
                position: absolute;
                left: 15px;
                top: 3px;
                border-radius: 50%;
                -webkit-box-shadow: -1.5px 0 0 0 #c49e6f, -1px 0 0 1px rgba(246, 216, 183, 0.7),
                    1.5px 0 1px 1.5px #e3b65a, 6px 0 1px 2px #af762c, 12px 0 2px 2px #905e09;
                box-shadow: -1.5px 0 0 0 #c49e6f, -1px 0 0 1px rgba(246, 216, 183, 0.7), 1.5px 0 1px 1.5px #e3b65a,
                    6px 0 1px 2px #af762c, 12px 0 2px 2px #905e09;
                -moz-box-shadow: -1.5px 0 0 0 #c49e6f, -1px 0 0 1px rgba(246, 216, 183, 0.7), 1.5px 0 1px 1.5px #e3b65a,
                    6px 0 1px 2px #af762c, 12px 0 2px 2px #905e09;
            }
            minus,
            .plus {
                width: 8px;
                border-radius: 1px;
                position: relative;
                border: 0.5px solid #e7e1e8;
            }
            .minus {
                border: 0.5px solid #e7e1e8;
                -webkit-box-shadow: 0 0 2px 1px #b2a8ad;
                box-shadow: 0 0 2px 1px #b2a8ad;
                -moz-box-shadow: 0 0 2px 1px #b2a8ad;
                top: 10px;
                left: -13px;
            }
            .plus {
                width: 8px;
                top: 7.5px;
                left: 44px;
                -moz-box-shadow: 1.5px 0.5px 1px 0.5px #b2a8ad;
                box-shadow: 1.5px 0.5px 1px 0.5px #b2a8ad;
                -webkit-box-shadow: 1.5px 0.5px 1px 0.5px #b2a8ad;
                &:before,
                &:after {
                    content: "";
                    display: inline-block;
                    height: 3px;
                    position: absolute;
                    border: 0.5px solid #e7e1e8;
                    -webkit-box-shadow: 1px 0 1px #b2a8ad;
                    box-shadow: 1px 0 1px #b2a8ad;
                    -moz-box-shadow: 1px 0 1px #b2a8ad;
                    z-index: 2;
                }
                &:before {
                    left: 2.3px;
                    top: -5.5px;
                    border-radius: 1px 1px 0 0;
                }
                &:after {
                    border-radius: 0 0 1px 1px;
                    left: 2.3px;
                    top: 1px;
                }
            }
        }
        .brand-name {
            width: fit-content;
            position: relative;
            top: -240px;
            left: 310px;
            color: #787581;
            font-size: 15px;
            font-family: "Merriweather", serif;
            span:nth-child(1) {
                width: fit-content;
                display: block;
                padding-left: 4px;
                margin-bottom: -16px;
            }
        }
    }
}