*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #EC5F67;
}

.camera{
    position: absolute;
    top: 100px;
    left: 200px;
    .top{
        width: 400px;
        height: 200px;
        background: #DEE2EA;
        border-radius: 30px 30px 10px 0;
        &:before, &:after{
            content: "";
            display: inline-block;
            background: #B3ABB2;
            position: absolute;
        }
        &:before{
            width: 120px;
            height: 40px;
            top: 208px;
            left: 297px;
            transform: skewY(-16deg);
            z-index: -1;
            border-radius: 0 0 0 5px;
        }
        &:after{
            width: 60px;
            height:225px;
            left: 370px;
            top: 4px;
            z-index: -1;
            border-radius: 0 30px 15px 0px;
            transform: skewY(7deg);
        }
        .flash{
            width: 60px;
            height: 100px;
            border:2px solid #5B6072;
            position: relative;
            top: 20px;
            left: 20px;
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(192,193,198,1) 75%);
            border-radius: 10px;
            box-shadow:0 3px 2px #BDCBDD inset,
                       6px 0px 2px #585A5F inset,
                       2px 0px 3px #767B83;
            &:before{
                content: "";
                display: inline-block;
                position: absolute;
                top: 58px;
                left: -5px;
                width: 20px;
                height:40px;
                border-width: 0px 0px 3px 3px;
                border-style: solid;
                border-color: transparent transparent #B1B2B9 #B1B2B9;
                border-radius:0 0 0px 12px;
            }
            .flash-lines{
                position: relative;
                top: 10px;
                left: 6px;
                width: 15px;
                height: 1px;
                border-top: 1px solid #B9B4AE;
                box-shadow: 0px 3px 0px #B9B4AE,
                            0px 6px 0px #B9B4AE,
                            0px 9px 0px #B9B4AE,
                            0px 20px 0px #B9B4AE,
                            0px 23px 0px #B9B4AE,
                            0px 26px 0px #B9B4AE,
                            33px 0px 0px #B9B4AE,
                            33px 3px 0px #B9B4AE,
                            33px 6px 0px #B9B4AE,
                            33px 9px 0px #B9B4AE,
                            33px 20px 0px #B9B4AE,
                            33px 23px 0px #B9B4AE,
                            33px 26px 0px #B9B4AE;
            }
            .inside-flash{
                width: 20px;
                height:92px;
                position: relative;
                top: 2px;
                left: 20px;
                border: 1px solid #E1E4E8;
                border-radius: 1px;
                box-shadow: -10px -10px 10px inset #D6D8DB;
                &:before, &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 2px;
                    width: 6.5px;
                    height: 90px;
                    background: rgb(255,255,255);
                    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(192,193,198,1) 100%);
                    border-radius: 1px;
                }
                &:after{
                    top: 0;
                    left: 11px;
                    height: 86px;
                    border-bottom: 2px solid #646D79;
                    border-top: 2px solid #646D79;
                }
            }
        }
        .on-off-button{
            width: 20px;
            height: 20px;
            border: 1px solid #B5B5BF;
            border-radius: 50%;
            position: relative;
            top: -70px;
            left: 95px;
            box-shadow: 1px 0px 1px 0px #B5B5BF,
                        2px 0px 2px 1px #777580;
            &:before, &:after{
                content: "";
                display: inline-block;
                position: absolute;
            }
            &:before{
                width: 13px;
                height: 13px;
                border-radius: 50%;
                border-width: 1.5px 1.5px 1.5px 1.5px;
                border-style: solid;
                border-color: #ADB2C0 #ADB2C0 #ADB2C0 transparent;
                top: 1px;
                left: 1px;
                transform: rotate(45deg);
            }
            &:after{
                height: 8px;
                border-left: 1.5px solid #ADB2C0;
                transform: rotate(-45deg);
                left: 7px;
                top: 3px;
            }
        }
        .click-button{
            width: 40px;
            height: 40px;
            position: relative;
            top: 15px;
            left: 20px;
            border-radius: 50%;
            background: rgb(231,160,166);
            background: radial-gradient(circle, rgba(231,160,166,1) 0%, rgba(203,88,103,1) 50%);
            box-shadow: 2px 0px 2px inset #784852,
                        -1px 0px 2px 2px #A8949F,
                        1px 0px 2px 3px #DDE1E7,
                        4px 0px 2px 3px #AFB0B4,
                        5px 0px 2px 3px #9C9AA2;
            .reflection{
                width: 23px;
                height: 30px;
                border-left: 5px solid rgba(241,243,252, .4);
                border-radius: 50%;
                position: relative;
                left: 3px;
                top: 5px;
                &:before, &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -2px;
                    left: 8px;
                    width: 15px;
                    height: 20px;
                    border-width: 7px 0px 7px 10px;
                    border-color: transparent transparent transparent rgba(241,243,252, .3);
                    border-style: solid;
                    border-radius: 50% 0 0 50%;
                }
                &:after{
                    width: 5px;
                    height: 10px;
                    border-width: 5px 0 5px 5px;
                    top: 5px;
                    left: 20px;
                }
            }
        }
        .curve{
            width:394px;
            height: 25px;
            background: #CACBD4;
            position: relative;
            top: 39px;
            left: -45px;
            transform: skewX(-75deg);
            border-radius: 0 0 0 5px;
            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                left: 77px;
                top: 25px;
                width:390px;
                height: 40px;
                border-radius: 3px 0 0 5px;
                transform: skewX(75deg);
                background: #D9DDE7;
            }
        }
    }
}
