* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #EC5F67;
}

.camera {
  position: absolute;
  top: 100px;
  left: 200px;
}

.camera .top {
  width: 400px;
  height: 200px;
  background: #DEE2EA;
  border-radius: 30px 30px 10px 0;
}

.camera .top:before, .camera .top:after {
  content: "";
  display: inline-block;
  background: #B3ABB2;
  position: absolute;
}

.camera .top:before {
  width: 120px;
  height: 40px;
  top: 208px;
  left: 297px;
  -webkit-transform: skewY(-16deg);
          transform: skewY(-16deg);
  z-index: -1;
  border-radius: 0 0 0 5px;
}

.camera .top:after {
  width: 60px;
  height: 225px;
  left: 370px;
  top: 4px;
  z-index: -1;
  border-radius: 0 30px 15px 0px;
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.camera .top .flash {
  width: 60px;
  height: 100px;
  border: 2px solid #5B6072;
  position: relative;
  top: 20px;
  left: 20px;
  background: white;
  background: radial-gradient(circle, white 0%, #c0c1c6 75%);
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 2px #BDCBDD inset, 6px 0px 2px #585A5F inset, 2px 0px 3px #767B83;
          box-shadow: 0 3px 2px #BDCBDD inset, 6px 0px 2px #585A5F inset, 2px 0px 3px #767B83;
}

.camera .top .flash:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 58px;
  left: -5px;
  width: 20px;
  height: 40px;
  border-width: 0px 0px 3px 3px;
  border-style: solid;
  border-color: transparent transparent #B1B2B9 #B1B2B9;
  border-radius: 0 0 0px 12px;
}

.camera .top .flash .flash-lines {
  position: relative;
  top: 10px;
  left: 6px;
  width: 15px;
  height: 1px;
  border-top: 1px solid #B9B4AE;
  -webkit-box-shadow: 0px 3px 0px #B9B4AE, 0px 6px 0px #B9B4AE, 0px 9px 0px #B9B4AE, 0px 20px 0px #B9B4AE, 0px 23px 0px #B9B4AE, 0px 26px 0px #B9B4AE, 33px 0px 0px #B9B4AE, 33px 3px 0px #B9B4AE, 33px 6px 0px #B9B4AE, 33px 9px 0px #B9B4AE, 33px 20px 0px #B9B4AE, 33px 23px 0px #B9B4AE, 33px 26px 0px #B9B4AE;
          box-shadow: 0px 3px 0px #B9B4AE, 0px 6px 0px #B9B4AE, 0px 9px 0px #B9B4AE, 0px 20px 0px #B9B4AE, 0px 23px 0px #B9B4AE, 0px 26px 0px #B9B4AE, 33px 0px 0px #B9B4AE, 33px 3px 0px #B9B4AE, 33px 6px 0px #B9B4AE, 33px 9px 0px #B9B4AE, 33px 20px 0px #B9B4AE, 33px 23px 0px #B9B4AE, 33px 26px 0px #B9B4AE;
}

.camera .top .flash .inside-flash {
  width: 20px;
  height: 92px;
  position: relative;
  top: 2px;
  left: 20px;
  border: 1px solid #E1E4E8;
  border-radius: 1px;
  -webkit-box-shadow: -10px -10px 10px inset #D6D8DB;
          box-shadow: -10px -10px 10px inset #D6D8DB;
}

.camera .top .flash .inside-flash:before, .camera .top .flash .inside-flash:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 2px;
  width: 6.5px;
  height: 90px;
  background: white;
  background: radial-gradient(circle, white 0%, #c0c1c6 100%);
  border-radius: 1px;
}

.camera .top .flash .inside-flash:after {
  top: 0;
  left: 11px;
  height: 86px;
  border-bottom: 2px solid #646D79;
  border-top: 2px solid #646D79;
}

.camera .top .click-button {
  width: 40px;
  height: 40px;
  position: relative;
  top: 25px;
  left: 0px;
  border-radius: 50%;
  background: #cb5867;
  -webkit-box-shadow: 2px 0px 2px inset #784852, -1px 0px 2px 2px #A8949F, 1px 0px 2px 3px #DDE1E7, 4px 0px 2px 3px #AFB0B4, 5px 0px 2px 3px #9C9AA2;
          box-shadow: 2px 0px 2px inset #784852, -1px 0px 2px 2px #A8949F, 1px 0px 2px 3px #DDE1E7, 4px 0px 2px 3px #AFB0B4, 5px 0px 2px 3px #9C9AA2;
}

.camera .top .curve {
  width: 394px;
  height: 25px;
  background: #CACBD4;
  position: relative;
  top: 99px;
  left: -45px;
  -webkit-transform: skewX(-75deg);
          transform: skewX(-75deg);
  border-radius: 0 0 0 5px;
}

.camera .top .curve:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 77px;
  top: 25px;
  width: 390px;
  height: 40px;
  border-radius: 3px 0 0 5px;
  -webkit-transform: skewX(75deg);
          transform: skewX(75deg);
  background: #D9DDE7;
}
/*# sourceMappingURL=index.css.map */