* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");

.camera{
    margin: auto;
    .top{
        position: relative;
        width: 375px;
        height: 200px;
        background: #DEE2EA;
        border-radius: 30px 30px 10px 0;
        &:before, &:after{
            content: "";
            display: inline-block;
            background: #B3ABB2;
            position: absolute;
        }
        &:before{
            width: 126px;
            height: 40px;
            top: 207px;
            left: 275px;
            transform: skewY(-14.7deg);
            z-index: -1;
        }
        &:after{
            width: 60px;
            height:225px;
            left: 350px;
            top: 4px;
            z-index: -1;
            border-radius: 0 30px 15px 0px;
            transform: skewY(7deg);
        }
        .flash{
            width: 60px;
            height: 100px;
            border:2px solid #5B6072;
            position: relative;
            top: 20px;
            left: 20px;
            background: rgb(255,255,255);
            background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(192,193,198,1) 75%);
            border-radius: 10px;
            box-shadow:0 3px 2px #BDCBDD inset,
                       6px 0px 2px #585A5F inset,
                       2px 0px 3px #767B83;
                       &:before{
                        content: "";
                        display: inline-block;
                        position: absolute;
                        top: 58px;
                        left: -2px;
                        width: 20px;
                        height:40px;
                        border-radius:0 0 0 10px;
                        box-shadow: -3px 3px 1px 0px #BAB9BF,
                                    -5px 5px 4px 0px #EDEFF6;
                        }
            .flash-lines{
                position: relative;
                top: 10px;
                left: 6px;
                width: 15px;
                height: 1px;
                border-top: 1px solid #B9B4AE;
                box-shadow: 0px 3px 0px #B9B4AE,
                            0px 6px 0px #B9B4AE,
                            0px 9px 0px #B9B4AE,
                            0px 20px 0px #B9B4AE,
                            0px 23px 0px #B9B4AE,
                            0px 26px 0px #B9B4AE,
                            33px 0px 0px #B9B4AE,
                            33px 3px 0px #B9B4AE,
                            33px 6px 0px #B9B4AE,
                            33px 9px 0px #B9B4AE,
                            33px 20px 0px #B9B4AE,
                            33px 23px 0px #B9B4AE,
                            33px 26px 0px #B9B4AE;
            }
            .inside-flash{
                width: 20px;
                height:92px;
                position: relative;
                top: 2px;
                left: 20px;
                border: 1px solid #E1E4E8;
                border-radius: 1px;
                box-shadow: -10px -10px 10px inset #D6D8DB;
                &:before, &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: 2px;
                    width: 6.5px;
                    height: 90px;
                    background: rgb(255,255,255);
                    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(192,193,198,1) 100%);
                    border-radius: 1px;
                }
                &:after{
                    top: 0;
                    left: 11px;
                    height: 86px;
                    border-bottom: 2px solid #646D79;
                    border-top: 2px solid #646D79;
                }
            }
        }
        .on-off-button{
            width: 20px;
            height: 20px;
            border: 1px solid #B5B5BF;
            border-radius: 50%;
            position: relative;
            top: -70px;
            left: 95px;
            box-shadow: 1px 0px 1px 0px #B5B5BF,
                        2px 0px 2px 1px #777580;
            &:before, &:after{
                content: "";
                display: inline-block;
                position: absolute;
            }
            &:before{
                width: 13px;
                height: 13px;
                border-radius: 50%;
                border-width: 1.5px 1.5px 1.5px 1.5px;
                border-style: solid;
                border-color: #ADB2C0 #ADB2C0 #ADB2C0 transparent;
                top: 1px;
                left: 1px;
                transform: rotate(45deg);
            }
            &:after{
                height: 8px;
                border-left: 1.5px solid #ADB2C0;
                transform: rotate(-45deg);
                left: 7px;
                top: 3px;
            }
        }
        .lens-div{
            position: relative;
            z-index: 1;
            .lens{
            width: 140px;
            height: 140px;
            background: #464B54;
            border-radius: 50%;
            position: relative;
            top: -100px;
            left: 120px;
            box-shadow: 2px 0px 1px inset #595A67,
                        -10px 0 5px inset rgba(94,112,132, .7),
                        10px 0px 10px inset #282B2D,
                        3px 0px 2px 3px #18181A,
                        18px 0 2px 3px #38363C,
                        25px 0 10px 5px #A0959D;
                &:before{
                    content: "";
                    display: inline-block;
                    background: #9CA7AE;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    top: 40px;
                    left: -5px;
                    z-index: -1;
                    box-shadow: 0px 2px 2px inset #D8E1F1,
                                -0.5px 0px 1px 2px #7D808E;
                }
            }
            .inside-lens{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                position:relative;
                top: -190px;
                left: 185px;
                background: #007968;
                box-shadow: -2px 0 1px 3px #595E68,
                            5px 0 5px -2px inset #34B1B1,
                            6px 0 1px 1px inset #062C26,
                            12px 0 4px 4px inset #00534A,
                            15px 0 9px 9px inset #0F1815,
                            -2px 0 1px 1px inset #20483A,
                            -5px -1px 2px 5px #252525,
                            -6px -1px 3px 8px #656A75,
                            -10px 0px 3px 11px #000000,
                            -10px 0 2px 15px #606676,
                            -11px 0 3px 18px #050505,
                            -12px -1px 2px 21px #606676,
                            -13px 0 3px 23px #050505,
                            -14px -1px 3px 25px #212227,
                            -15px 0 3px 27px #585E6D,
                            -17px -1px 2px 30px #171C1D,
                            -16px -1px 2px 36px #6E7083,
                            -15px -1px 2px 39px #141215;
                    &:before, &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    left: 8px;
                    width: 15px;
                    height: 19px;
                    border-width: 7px 0px 7px 10px;
                    border-color: transparent transparent transparent rgba(47,175,175, .3);
                    border-style: solid;
                    border-radius: 50% 0 0 50%;
                }
                &:after{
                    width: 5px;
                    height: 10px;
                    border-width: 5px 0 5px 5px;
                    top: 11px;
                    left: 20px;
                }
            }
        }
        .circle{
            width: 15px;
            height: 15px;
            background: #3B3A40;
            border-radius: 50%;
            position: relative;
            top: -160px;
            left: 270px;
            z-index: 1;
            box-shadow: 10px 0 2px 0 inset rgb(0,0,0),
                        0 0 1.5px 3px #57595E,
                        0.5px 0 1px 4px #010001,
                        6px 0 1px 5px #252327,
                        9px 2px 5px 6px #8B868C;
        }
        .view-finder{
            width: 60px;
            height: 60px;
            position: relative;
            top: -298px;
            left: 300px;
            background: #D5D1D5;
            border-radius: 10px;
            box-shadow: 0 0 2px 2px inset #9F9CA5,
                        3px 0 3px 1px inset rgba(153,155,204, .8),
                        6px 0 1px 1px inset #C5CBEE,
                        13px 0 5px 5px inset rgba(153,154,217, .8),
                        14px 0px 01px 5px inset #CED4F0,
                        17px 0 10px 5px inset rgba(153,154,217, .8),
                        19px 0px 1px 10px inset #CED4F0,
                        23px 0 6px 13px inset rgba(184,189,231, .8),
                        0 0 2px 1px #3D3A43,
                        -3px 0 3px 0 #807983;
            .reflection{
                width: 23px;
                height: 50px;
                border-style: solid;
                border-width: 7px 0px 7px 10px;
                border-color: transparent transparent  transparent rgba(241,243,252, .6);
                position: relative;
                left: 12px;
                top: 5px;
                &:before, &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0px;
                    left: 5px;
                    width: 15px;
                    height: 20px;
                    border-width: 7px 0px 7px 10px;
                    border-color: transparent transparent  transparent rgba(241,243,252, .6);
                    border-style: solid;
                }
                &:after{
                    width: 5px;
                    height: 10px;
                    border-width: 5px 0 5px 5px;
                    top: 5px;
                    left: 18px;
                }
            }
            .glass{
                width: 60px;
                height: 60px;
                background: linear-gradient(90deg, rgba(164,166,231,.6) 0%, rgba(137,136,196,.6) 17%, rgba(112,113,167,.6) 44%, rgba(179,167,198,.6) 67%, rgba(161,149,176,.3) 80%, rgba(82,73,83,.3) 100%);
                position: relative;
                top: -50px;
                border-radius: 10px;
            }
        }
        .minus-plus-button{
            width: 40px;
            height: 20px;
            position: relative;
            background: #C49E6F;
            top: -285px;
            left: 313px;
            border-radius: 10px;
            box-shadow: 4px 0 4px inset #999199,
                        6px 0 0px 1px inset #624122,
                        10px 0 4px 0px inset #6E4C03;
            &:before{
                content: "";
                display: inline-block;
                width: 9px;
                height: 15px;
                background: rgba(246,216,183, .7);
                position: absolute;
                left: 15px;
                top: 3px;
                border-radius: 50%;
                box-shadow:-1.5px 0 0 0 #C49E6F,
                            -1px 0  0  1px rgba(246,216,183, .7),
                            1.5px 0 1px 1.5px #E3B65A,
                            6px 0 1px 2px #AF762C,
                            12px 0 2px 2px #905E09;
            }
            .minus, .plus{
                width: 8px;
                border-radius: 1px;
                position: relative;
                border: .5px solid #E7E1E8;
}
            .minus{
                border: .5px solid #E7E1E8;
                box-shadow: 0 0 2px 1px #B2A8AD;
                top: 10px;
                left: -13px;
            }
            .plus{
                width: 8px;
                top: 7.5px;
                left: 44px;
                box-shadow: 1.5px 0.5px 1px 0.5px #B2A8AD;
                &:before, &:after{
                    content: "";
                    display: inline-block;
                    height: 4px;
                    position: absolute;
                    border: .5px solid #E7E1E8;
                    box-shadow: 1px 0 1px #B2A8AD;
                    z-index: 2;
                }
                &:before{
                    left: 2px;
                    top: -6.5px;
                    border-radius: 1px 1px 0 0;
                }
                &:after{
                    border-radius:0 0 1px 1px;
                    left: 2.56px;
                    top: 1px;
                }
            }
        }
        .brand-name{
            position: relative;
            top: -240px;
            left: 320px;
            color: #787581;
            font-size: 15px;
            font-family: 'Merriweather', serif;
            span:nth-child(1){
                width: fit-content;
                display: block;
                padding-left: 4px;
                margin-bottom: -16px;
            }
            span.number{
                color: #DEC487;
                font-size: 25px;
            }
        }
        .click-button{
            width: 40px;
            height: 40px;
            position: relative;
            top: -290px;
			left: 20px;
            border-radius: 50%;
            background: rgb(231,160,166);
            background: radial-gradient(circle, rgba(231,160,166,1) 0%, rgba(203,88,103,1) 50%);
            box-shadow: 2px 0px 2px inset #784852,
                        -1px 0px 2px 2px #A8949F,
                        1px 0px 2px 3px #DDE1E7,
                        4px 0px 2px 3px #AFB0B4,
                        5px 0px 2px 3px #9C9AA2;
            .reflection{
                width: 23px;
                height: 30px;
                border-left: 5px solid rgba(241,243,252, .4);
                border-radius: 50%;
                position: relative;
                left: 3px;
                top: 5px;
                &:before, &:after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -2px;
                    left: 8px;
                    width: 15px;
                    height: 20px;
                    border-width: 7px 0px 7px 10px;
                    border-color: transparent transparent transparent rgba(241,243,252, .3);
                    border-style: solid;
                    border-radius: 50% 0 0 50%;
                }
                &:after{
                    width: 5px;
                    height: 10px;
                    border-width: 5px 0 5px 5px;
                    top: 5px;
                    left: 20px;
                }
            }
        }
        .curve{
            width:369px;
            height: 25px;
            background: #CACBD4;
            position: relative;
            top: -266px;
		    left: -46px;
            transform: skewX(-75deg);
            border-radius: 0 0 0 5px;
            &:after{
                content: "";
                display: inline-block;
                position: absolute;
                left: 77px;
                top: 25px;
                width:366px;
                height: 40px;
                border-radius: 3px 0 0 5px;
                transform: skewX(75deg);
                background: #D9DDE7;
            }
        }
    }
}
