@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  width: 100vw;
  background: #d9d8dd;
}

#video {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 120px;
  height: 100px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2px 2px #6e6a67, 0 0 2px 10px #333031, 0 0 3px 15px #757571, 0 0 2px 20px #302624;
  box-shadow: 0 0 2px 2px #6e6a67, 0 0 2px 10px #333031, 0 0 3px 15px #757571, 0 0 2px 20px #302624;
  -moz-box-shadow: 0 0 2px 2px #6e6a67, 0 0 2px 15px #333031, 0 0 3px 20px #757571, 0 0 2px 25px #302624;
}

#video video {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  background-size: cover;
}

.camera {
  position: absolute;
  top: 100px;
  left: 350px;
}

.camera .top {
  position: relative;
  width: 375px;
  height: 200px;
  background: #dce1e9;
  border-radius: 30px 30px 10px 0;
  -webkit-box-shadow: -6px 0 2px inset #b8b1b8,0 -10px 6px inset #cdd2de, 0 7px 1px inset #d8dae1, 25px 1px 0 #b0a5ae;
  box-shadow: -6px 0 2px inset #b8b1b8, 0 -10px 6px inset #cdd2de, 0 7px 1px inset #d8dae1, 25px 1px 0 #b0a5ae;
  -moz-box-shadow: -6px 0 2px inset #b8b1b8, 0 -10px 6px inset #cdd2de, 0 7px 1px inset #d8dae1, 25px 1px 0 #b0a5ae;
}

.camera .top:before, .camera .top:after {
  content: "";
  display: inline-block;
  position: absolute;
}

.camera .top:before {
  width: 18px;
  height: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#d9dde7), to(#b0a5ae));
  background: linear-gradient(90deg, #d9dde7 0%, #b0a5ae 100%);
  left: 265px;
  top: 224.7px;
  z-index: 2;
  border-radius: 10% 10% 5px 10px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-filter: drop-shadow(0 0 1px rgba(198, 196, 205, 0.5), blur(2px));
          filter: drop-shadow(0 0 1px rgba(198, 196, 205, 0.5), blur(2px));
}

.camera .top:after {
  background: #b0a5ae;
  width: 125.5px;
  height: 29px;
  top: 205px;
  left: 274px;
  border-radius: 0 0 30px 0;
  -webkit-transform: skewY(-10.7deg);
          transform: skewY(-10.7deg);
  z-index: -1;
}

.camera .top .flash {
  width: 60px;
  height: 100px;
  border: 2px solid #5b6072;
  position: relative;
  top: 20px;
  left: 20px;
  background: white;
  background: radial-gradient(circle, white 0%, #c0c1c6 100%);
  border-radius: 10px;
  -webkit-box-shadow: 0 3px 2px inset #bdcbdd, 6px 0 2px inset #585a5f, 2px 0 3px #767b83;
  box-shadow: 0 3px 2px inset #bdcbdd, 6px 0 2px inset #585a5f, 2px 0 3px #767b83;
  -moz-box-shadow: 0 3px 2px inset #bdcbdd, 6px 0 2px inset #585a5f, 2px 0 3px #767b83;
}

.camera .top .flash:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 58px;
  left: -2px;
  width: 20px;
  height: 40px;
  border-radius: 0 0 0 10px;
  -webkit-box-shadow: -3px 3px 1px #bab9bf, -5px 5px 4px #edeff6;
  box-shadow: -3px 3px 1px #bab9bf, -5px 5px 4px #edeff6;
  -moz-box-shadow: -3px 3px 1px #bab9bf, -5px 5px 4px #edeff6;
}

.camera .top .flash .inside-flash {
  width: 20px;
  height: 92px;
  position: relative;
  top: 2px;
  left: 20px;
  border: 1px solid #e1e4e8;
  border-radius: 1px;
  -webkit-box-shadow: -10px -10px 10px inset #d6d8db;
  box-shadow: -10px -10px 10px inset #d6d8db;
  -moz-box-shadow: -10px -10px 10px inset #d6d8db;
}

.camera .top .flash .inside-flash:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 6.5px;
  background: white;
  background: radial-gradient(circle, white 0%, #c0c1c6 100%);
}

.camera .top .flash .inside-flash:before {
  height: 90px;
  left: 2px;
  border-radius: 1px;
}

.camera .top .flash .inside-flash:after {
  left: 11px;
  height: 86px;
  border-bottom: 2px solid #646d79;
  border-top: 2px solid #646d79;
}

.camera .top .flash .flash-lines {
  position: relative;
  top: 10px;
  left: 6px;
  width: 15px;
  height: 1px;
  border-top: 1px solid #b9b4ae;
  -webkit-box-shadow: 0 3px 0 #b9b4ae, 0 6px 0 #b9b4ae, 0 9px 0 #b9b4ae, 0 20 0 #b9b4ae, 0 23px 0 #b9b4ae, 0 26px 0 #b9b4ae, 33px 0 0 #b9b4ae, 33px 3px 0 #b9b4ae, 33px 6px 0 #b9b4ae, 33px 9px 0 #b9b4ae, 33px 20 0 #b9b4ae, 33px 23px 0 #b9b4ae, 33px 26px 0 #b9b4ae;
  box-shadow: 0 3px 0 #b9b4ae, 0 6px 0 #b9b4ae, 0 9px 0 #b9b4ae, 0 20 0 #b9b4ae, 0 23px 0 #b9b4ae, 0 26px 0 #b9b4ae, 33px 0 0 #b9b4ae, 33px 3px 0 #b9b4ae, 33px 6px 0 #b9b4ae, 33px 9px 0 #b9b4ae, 33px 20 0 #b9b4ae, 33px 23px 0 #b9b4ae, 33px 26px 0 #b9b4ae;
  -moz-box-shadow: 0 3px 0 #b9b4ae, 0 6px 0 #b9b4ae, 0 9px 0 #b9b4ae, 0 20 0 #b9b4ae, 0 23px 0 #b9b4ae, 0 26px 0 #b9b4ae, 33px 0 0 #b9b4ae, 33px 3px 0 #b9b4ae, 33px 6px 0 #b9b4ae, 33px 9px 0 #b9b4ae, 33px 20 0 #b9b4ae, 33px 23px 0 #b9b4ae, 33px 26px 0 #b9b4ae;
}

.camera .top .flash .light {
  position: relative;
  top: -40px;
  left: 30px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: radial-gradient(ellips at center, white 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 100%;
  -webkit-animation: 1s flash-light;
          animation: 1s flash-light;
}

.camera .top .on-off-button {
  width: 20px;
  height: 20px;
  border: 1px solid #b5b5bf;
  border-radius: 50%;
  position: relative;
  top: -70px;
  left: 95px;
  -webkit-box-shadow: 1px 0 1px #b5b5bf, 2px 0 2px 1px #777580;
  box-shadow: 1px 0 1px 0 #b5b5bf, 2px 0 2px 1px #777580;
  -moz-box-shadow: 1px 0 1px #b5b5bf, 2px 0 2px 1px #777580;
}

.camera .top .on-off-button:before, .camera .top .on-off-button:after {
  content: "";
  display: inline-block;
  position: absolute;
}

.camera .top .on-off-button:before {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border-width: 1.5px 1.5px 1.5px 1.5px;
  border-style: solid;
  border-color: #adb2c0 #adb2c0 #adb2c0 transparent;
  top: 1px;
  left: 1px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.camera .top .on-off-button:after {
  height: 8px;
  border-left: 1.5px solid #adb2c0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 7px;
  top: 3px;
}
/*# sourceMappingURL=index.css.map */